<h1 class="text-center">Complete Booking</h1>

<div class="row">
  <div class="col-xs-offset-3 col-xs-6" id="bookings_form_container">
    <%= render 'form' %>
  </div>
</div>


<%= link_to 'Back', bookings_path %>
