<div class="row">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="row">
      <div class="col-xs-8">

        <h2 class="text-center">Museum Tour</h2>
        <p></p>
        <p></p>
      </div>
      <div class="col-xs-4">
          <h2>€20 / hour</h2>
      </div>
    </div>
    <%= link_to "Book Now" , "#" , :class => "btn btn-primary btn-block"%>
  </div>
  <hr>
  <br>
  <br>
  <div class="col-xs-offset-2 col-xs-8">
    <div class="row">
      <div class="col-xs-8">
        <h2 class="text-center">Zoo Tour</h2>
        <p></p>
        <p></p>
      </div>
      <div class="col-xs-4">
        <h2>€20 / hour</h2>
      </div>
    </div>
    <%= link_to "Book Now" , "#" , :class => "btn btn-primary btn-block"%>
  </div>
  <hr>
  <br>
  <br>
  <div class="col-xs-offset-2 col-xs-8">
    <div class="row">
      <div class="col-xs-8">
        <h2 class="text-center">Garden Tour</h2>
        <p></p>
        <p></p>
      </div>
      <div class="col-xs-4">
        <h2>€20 / hour</h2>
      </div>
    </div>
    <%= link_to "Book Now" , "#" , :class => "btn btn-primary btn-block"%>
  </div>
</div>